*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans MT';
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
#header{
    height: 15vh;
    width: 100%;
    position: fixed;
    display: flex;
    float: left;
    align-items: center;
    color: #032d60;
    background-color: white;
    z-index: 3;
}
#header2{
    height: 15vh;
    width: 100%;
}
#logo{
    height: 50%;
    object-fit: cover;
    margin: 0px 30px 0px 30px;
}
#logo:hover{
    cursor: pointer;
}
.text{
    margin-right: 30px;
}
.text:hover{
    color: lightblue;
    cursor: pointer;
}
#more img{
    height: 10px;
    width: 10px;
}
#contact-details{
    text-align: center;
    margin-left: 150px;
    color: #032d60;
}
#contact:hover{
    color: rgb(115, 115, 160);
    text-decoration: underline;
    cursor: pointer;
}
#search{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 10px;
    margin-left: 20px;
    object-fit: cover;
}
#region{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 10px;
    object-fit: cover;
}
#search:hover{
    background-color: lightblue;
    cursor:pointer;
}
#region:hover{
    background-color: lightblue;
    cursor:pointer;
}
#login img{
    height: 20px;
    width: 20px;
    object-fit: cover;
}
#login{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 15px;
    padding: 10px;
    border-radius: 50px;
}
#login:hover{
    background-color: lightblue;
    cursor: pointer;
}
#trial{
    background-color: green;
    color: white;
    font-size: 15px;
    height: 45px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-right: 25px;
}
#trial:hover{
    opacity: 70%;
    cursor: pointer;
}
#page1{
    height: 85vh;
    width: 100%;
    background-image: url("Images/bgimg.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 650px 300px;
}
#strip{
    background-color: #032d60;
    height: 7.5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#strip p{
    margin-left: 15px;
    text-decoration: underline;
}
#strip p:hover{
    text-decoration: none;
    cursor: pointer;
}
#content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78vh;
    width: 100%;
    
}
.boxes{
    height: 70vh;
    width: 50%;
}
#box1{
    display: flex;
    justify-content: center;
    align-items: center;
}
#sub-container1{
    height: 70vh;
    width: 95%;
}
.box1-content{
    margin: 30px;
}
#box1 h1{
    font-size: 50px;
    color: #032d60;
    margin-top: 20px;
}
#box1 p{
    font-size: 25px;
    font-weight:100;
    color: black;
}
#buttons{
    display: flex;
    margin: 30px;
}
.button1{
    height: 50px;
    width: 200px;
    font-size: 19px;
    background-color: #0176d3;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-right: 25px;
}
.button1 img{
    height: 23px;
    width: 23px;
    margin-left: 5px;
}
.button1:hover{
    background-color: #032d60;
    cursor: pointer;
}
.button2{
    height: 50px;
    width: 200px;
    font-size: 19px;
    background-color: white;
    color: #0176d3;
    border: 2px solid #0176d3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.button2 img{
    height: 23px;
    width: 23px;
    margin-left: 5px;
}
.button2:hover{
    background-color: lightgray;
    cursor: pointer;
}
#headline{
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 17px;
    color: #032d60;
}
#box2{
    display: flex;
    justify-content: left;
    align-items: center;
}
#sub-container2{
    height: 55vh;
    width: 90%;
}
#sub-container2 video{
    object-fit: cover;
    border-radius: 15px;
}
#page2{
    height: 135vh;
    width: 100%;
}
#container{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items:center;
}
.products{
    height: 80%;
    width: 30%;
    border-radius: 15px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.2);
}
.products img{
    height: 40%;
    width: 100%;
    object-fit: cover;
}
.products img:hover{
    cursor: pointer;
}
.content-container{
    height: 60%;
    width: 100%;
}
.product-content{
    margin: 30px;
}
.learn-more{
    text-decoration: underline;
    width: fit-content;
}
.learn-more:hover{
    text-decoration:none;
    cursor: pointer;
}
#more-products{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    margin-top: 15ch;
}

#more-products-btn{
    border: 2px solid #0176d3;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0176d3;
    background-color: white;
    height: 60px;
    width: 250px;
    font-size: 20px;
}
#more-products-btn:hover{
    color: #032d60;
    border: 2px solid #032d60;
    background-color: rgb(199, 215, 220);
    cursor: pointer;
}
#button{
    position: absolute;
    z-index: 2;
}
#image{
    position: absolute;
    z-index: 1;
}
#page3{
    display: flex;
    justify-content: center;
    align-items: center;
}
#container2{
    width:60%;
}
#heading{
    font-size: 20px;
    color: #032d60;
    margin-bottom: 50px;
    margin-top: 20px;
}
#para{
    font-size: 20px;
    margin-bottom: 60px;
}
#buttons2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}